  
.carouselContainer {
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
   
    overflow-y: visible;
  }

 
  .sliderItem {
    position: relative;
    padding: 0.7rem;
    transition: transform 0.5s ease, opacity 0.5s ease;
    width: 300px;
  }
  
  .sliderContent {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible;
  }
  
  
  .carouselImage {
    object-fit: cover;
    border-radius: 1rem;
  }

  
  /* Styles for the main content in the center */
  .main .carouselImage {
    width: 200px;
    height: 250px;
    object-fit: cover;
    border-radius: 1rem;
    filter: none; /* Main content should not be greyed out */
    opacity: 1;
    transition: transform 0.3s ease;
    transform: scale(1.2); /* Slightly enlarge the main content */
  }
  .main .carouselImage:hover {
    transform: scale(1.3); /* Slightly larger on hover */
    transition: transform 0.2s ease-in-out;
  }
  
  
  /* Styles for the greyed-out side boxes */
  .side .carouselImage {
    width: 200px;
    height: 250px;
    object-fit: cover;
    filter: grayscale(100%); /* Greyscale effect for side boxes */
    opacity: 0.5;
    transform: scale(1);
  }
  
  .activeImage {
    /* Optional: Specific styles for active image */
    height: 300px;

    


  }
  
  .inactiveImage {
    /* Optional: Specific styles for inactive (side) images */
  }
  